<!DOCTYPE html>
<html>
<head>
    <title>Alerta</title>
    <link rel="stylesheet" href="public/img/css/styles.css">
</head>
<body>
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        Usuario registrado correctamente
    </div>
    <script>
        setTimeout(() => {
            window.location.href = "/";
        }, 3000); // Redirigir después de 3 segundos
    </script>
</body>
</html>