<main class="mt-05" >
    <div class="container"><br/>
        <div class="card mx-auto m-0 p-0" style="width: 600px; height:400px; border-radius:5px; background: linear-gradient(135deg, #f2f6f7 0%, #b0b0ed 100%);position:relative;">
            <div class="card-header m-1">
                <img class="card-img-top mx-auto m-4" src="/img/logo.jpg " alt="Logo" style="width:250px;height:100px;display:block;">
                <h2 class="text-uppercase text-center text-success p-1">Construcivil SAS</h2>
                <h5 class="text-center text-black m-0">Somos soluciones para su obra</h5>
            </div>  
            <div class="card-body text-center text-bold"   >
                <p >Construcivil SAS, Empresa de ingenieria civil dedicada a la ejecucion de obras civiles y publicas dentro del territorio nacional, somos la mejor opcion para hacer realidad su proyecto</p>
                <a href="/login" class="btn btn-success">Iniciar Session</a>
            </div>
     </div>
    </div>
</main>
